/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  background: #2E9CE6;
  padding: 3em;
  font-family: 'Raleway', 'Arial';
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 50px;
}

ul li a {
  font-size: 1.5em;
}

a {
  color: #fff;
  text-decoration: none;
}

hr {
    display: block;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
}
